*.o
*.pyc
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*~
.DS_Store
/.cache/
/.ipynb_checkpoints/
/cribbage/.ropeproject/
/cribbage/_cribbage_score.c
/cribbage/_cribbage_score.so
/models
/test_c_scoring/cribbage
build/
